<!DOCTYPE html>
<div class="jumbotron container">
    <h3>Welcome {{user}}</h3>
    <div class="btn-group col-xs-12">
        {{#each itens}}
        <a href={{url}} class="btn btn-default btn-lg">{{name}}</a>
        {{/each}}
    </div>
    <small class="col-xs-12 text-right" style="margin:1%">Usuário atual: {{user}}</small>
</div>

<!-- btn-group-justified -->